*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    background-color: rgb(32, 32, 32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 120px;
}

.item, a:hover{
    color: rgb(107, 40, 207);
    border: 1px solid rgb(92, 58, 215);
    padding: 5px;
}

.item, a{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: none;
}

.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    color: white;
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    font-size:55px;
    font-weight: bold;

}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: rgb(46, 12, 12);
    color: rgb(105, 70, 208);
}

.btn{
    padding:10px 20px;
    background-color:red;
    color: white;
    border: none;
    
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row-reverse;
    padding: 10px;
}
.about-title{
    text-align: center;
    padding-top:20px;
}
.box{
    width: 200px;
    height: 304px;
    /* border: 1px solid gray; */
    padding: 15px;
    text-align: center;
    box-shadow: 4px 2px 105px gray;
    border-radius: 10px;
    color: white;
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: rgb(64, 13, 13);
    margin-top: 8px;
}
.box-title{
    padding: 10px;

}
.box-description{
    padding: 5px;
}
.service-container{
    display: flex;
    justify-content:space-around;
    padding: 20px;
}

.service-sec {
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 500px;
}

footer {
    background-color: rgb(44, 3, 3);
    height: 550px;
    color: white;
}

.logo-pic, .logo-p {
    width: 200px;
    padding: 15px;
}